body{
  margin: 0;
}

.container{
  margin: 0px 166px;
}
.header{
  background-image: url(bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover  ;
}
.header-line{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around ;
}
.nav-item{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  margin-right: 25px;
  transition: color 0.25 linear;
  font-family: "Open Sans", sans-serif;
}

.nav-item:hover{
  color: rgba(254, 1, 1, 0.852);
}

.cart{
  position: relative;

  border-right: 1px solid #ffffff;
  padding-right: 10px;
  height: 50px;
}

.cart-img{
  position: absolute;
  top: 18px;
  right: 7px;
}
.num{
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.25 linear;
  font-family: "Open Sans", sans-serif;
}
.num:hover{
  color: #fc0303; 
}

.phone-text{
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
.phone-holder{
  display: flex;
  align-items: center;
}

.button{
  background-color: #FF7400;
  text-decoration: none;
  color: #fff;
  padding: 14px 18px;
  font-weight: 700;
  transition: background-color 0.25 linear;
  font-family: "Open Sans", sans-serif;
}

.button:hover{
  background-color: #7d3a04;
}

.linebtn{
  display: none;
}

.header-down{
  position:relative;
}
.header-title{
  color: #D67E35;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  position: absolute;
  left: 0px;
  margin-top: 222px;
}

.header-subtitle{
  color: #D67E35;
  font-size: 80px;
  margin-bottom: 13px;
}

.header-suptitle{
  color: #fff;
  font: 1em sans-serif;
  font-size: 18px;
}

.header-suptitle:after{
  position: absolute;
  background-color: #fff;
  content: '';
  height: 2px;
  width: 61px;
  left: 70px;
  top: 172px;
}

.header-suptitle:before{
  position: absolute;
  background-color: #fff;
  content: '';
  height: 2px;
  width: 61px;
  left: 350px;
  top: 172px;
}

.header-btn {
  background-color: #FF7400; 
  text-align: center;
  padding: 14px 28px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: background-color linear;  
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.header-btn:hover{
  background-color: #7d3a04;
}
.card{
  box-shadow: 10px 10px 40px 20px #0000001A;
  width: 349px;
  margin-right: 31px;
  background-color: #fff;
  margin-top: -80px;
  padding: 10px 10px;
}
.card-holder{
  display: flex ;
  justify-content: center;
}
.card-image{
  justify-content: center;
  display: flex;
  padding-top: 31px;
}
.card-title{
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
  font-family: "Tinos", serif;
  font-size: 26px;
  width: 400;
}
.card-title span{
  color: #D67E35;
  margin-left: 5px;
}
.card-desc{
  justify-content: center;
  text-align: center; 
  font-family: "Tinos", serif;
  font-size: 26px;
  width: 400;
  color: #656363;
}


.history{
  margin-top: 166px;
  padding-bottom: 200px;
}


.history-title{
  font-family: "Tinos", serif;
  font-size: 54px;
  width: 400;
  width: 444px;
  text-align: center;
  margin-bottom: 21px;
}
.history-title span{
  color: #D67E35;
}
.history-desc{
  color: #656363;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  width: 444px;
  text-align: center;
}

.history-num{
  display: flex;
  justify-content: center;
  width: 444px;
  margin-top: 40px;
  margin-left: 40px;
}

.history-item{
  margin-right: 60px;
  text-align: center;
  font-size: 20px;
  color: #BC9060;
  font-size: 40px;
}

.history-item span{
  display: block;
  color: #000;
}

.history-images{
  position: relative;
}

.history-img1{
  position: absolute;
  z-index: 50;
  top: 54px;
  left: 211px;
}


.history-img2{
  position: absolute;
  z-index: 999;
  top: -92px;
  left: 383px;
}

.history-img3{
  position: absolute;
  z-index: 999;
  top: 247px;
  left: 481px;
}
.history-box{
  position: absolute;
  z-index: 0;
  top: 220px;
  left: 300px;
}
.history-holder{
  display: flex;
}
.left-title{
  color: #D67E34;
  font-size: 52px;
  font-family: "Tinos", serif;
  margin-bottom: 20px;
}
.left-desc{
  color: #fff;
  font-family: "Open Sans", sans-serif;
  width: 700;
  font-size: 24px;
}

.black-block{
  background-image: url(blackg.jpg);
  padding: 80px 0;
}

.right-btn{
  background-color: #FF7400;
  text-decoration: none;
  color: #fff;
  padding: 14px 18px;
  transition: background-color 0.25 linear;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.right-btn:hover{
  color: #7d3a04;
}



.black-holder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dishes-title{
  font-family: "Tinos", serif;
  width: 400;
  font-size: 54px;
  text-align: center;
  margin-bottom: 150px;
  margin-top: 150px;
}
.dishes-title span{
  color: #D67E34;
}
.burgers{
  display: flex;
  justify-content: center;
}
.burger-item{
  display: flex;
  align-items: center;
  font-size: 26px;
  width: 400;
  margin-bottom: 29px;
}
.img-burgers{
  margin-right: 20px;
}

.burger-text{
  font-family: "Tinos", serif;
  margin-left: 30px;
}

.menu{
  background-image: url(menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-title{
  font-family: "Tinos", serif;
  font-size: 54px;
  color: #fff;
  padding-top: 98px;
  text-align: center;
  padding-bottom: 138px;
}

.menu-items{
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  
}

.menu-item{
  background-color: #fff;
  width: 350px;
  height: 470px;
  text-align: center;
  padding-top: 85px;
  margin-right: 20px;
}
.menu-text{
  font-family: "Tinos", serif;
  font-size: 26px;
  padding-top: 16px;
  padding-bottom: 17px;
}

.menu-desc{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-bottom: 20px;
}


.menu-btn{
  background-color: #FF7400;
  text-decoration: none;
  padding: 17px 67px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px #00000040;
}
.menu-btn:hover{
  background-color: #D67E35;
}

.menu-button{
  margin-top: 25px;
}

.menu-image{
  position: relative;
}

.menu-prise{
  right: 47px;
  bottom: 0px;
  position: absolute;
}

.prise-tg{
  right: 71px;
  position: absolute;
  top: 165px;
  color: #fff;
  font-family: "Cookie", cursive;
  font-size: 30px;
}

.com-img{
  width: 100px;
  height: 100px;
  text-align: center;
}

.comment{
  background-color: #E5E5E5;
  padding-top: 104px;
  padding-bottom: 139px;
}

.comment-text{
  padding-top: 130px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: italic;
  padding-bottom: 40px;
}

.commpos{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 600;
  text-align: center; 
}

.com-name{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 400;
  text-align: center;
  padding-top: 10px;
}

.comment-img{
  text-align: center;
  padding-bottom: 20px;
}

.galery-title{
  font-family: "Tinos", serif;
  font-size: 54px;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 60px;
}
.galery-title span{
  font-size: 54px;
  font-family: "Tinos", serif;
  color: #D67E35;
}

.galery-img{
  justify-content: center;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
}
.gal-left{
  margin-right: 20px;
}

.gal-down{
  display: flex;
  justify-content: space-between;
}

.gal-up{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pov-title{
  font-family: "Tinos", serif;
  font-size: 54px;
  padding-top: 120px;
  text-align: center;
}
.pov-title span{
  font-family: "Tinos", serif;
  font-size: 54px;
  color: #D67E35;
}

.pov-img{
  display: flex;
  justify-content: space-around;
  padding-top: 90px;
  padding-bottom: 120px;
}

.last-img{
  background-image: url(last.jpg);
}

.last-com{
  padding-bottom: 50px;
  color: #fff;
  padding-top: 50px;
  text-align: center;
}

@media(max-width: 1280px){

  .galery-img{
    display: block;
  }
  .ph,
  .gal-up,
  .gal-down{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .ph{
    margin-bottom: 20px;
  }
  .gal-left{
    margin-right: 0;
  }

  .nav,
  .cart,
  .phone,
  .btn{
    display: none;
  }

  .header-line{
    justify-content: space-between;
  }
  .linebtn{
    display: block;
  }
  .history-images{
    display: none;
  }
  .pov-img{
    display: block;
  }
  .pov-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .new-ph{
    margin-bottom: 20px;
    text-align: center;
  }
  .ph1{
    display: none;
  }
}

@media(max-width: 800px){

  .pizza{
    display: none;
  }
  .menu-items{
    display: block;

  }
  .menu-item{
    margin: 20px auto;
    margin-bottom: 20px;
  }
  .card-holder{
    display: block;
  }
  .history-info{
    display: block;
  }

  .history-desc,
  .history-title,
  .history-num{
    width: auto;
    display: block;
  }
  .history-item{
    margin-bottom: 20px;
  }

  .header-title,.header-subtitle{
    position: static;
    display: block;
    font-size: 30px;
  }
  .header-suptitle{
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
  }
  

  .header-suptitle:after,
  .header-suptitle:before{
    display: none;
  }

  .card{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .left-title,.right-button,.left-desc{
    text-align: center;
  }
  .black-holder{
    display: block;
  }
  .right-button{
    margin-top: 30px;
  }
  .container{
    margin: auto 40px;
  }
  
  .ph{
    margin: 10px auto;
  }
}
